#menu-mobile{
  height: 25vh;
  padding: 5%;
  background-color: #FFFFFF;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 8px 12px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
#menu-mobile .wrapper{
  display: flex
}
#menu-mobile h3{
  position: relative;
  float: left;
}

.table-mobile{
  color: #87868A
}

.table-mobile tbody tr .th-list,
.td-list{
  color: #9ac321;
}

.table-mobile th{
  font-size: 30px
}

/*///////////////////// media queries index //////////////////////////*/

@media screen and (max-width: 630px) {
  #name{
    padding-top: 3%
  }
  #icon1 {
    display: none;
  }
  .side-menu {
    display: none;
  }
  #btn-small {
    display: initial;
  }
  .clients-box {
    width: 95vw;
    height: 300px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item img {
    width: 5em;
    height: 5em;
  }
  .basis-auto {
    width: 50%;
    flex: 1 1 auto;
    flex-direction: column;
    margin-top: 2%;
  }
  .ic {
    display: flow-root;
    width: 80vw;
    padding: 0 5%;
    font-size: 2em;
  }
  ul {
    padding: 0;
  }
  .clients-menu {
    flex-direction: inherit;
  }
  .item .phone{
    width: 28vw;
    margin-top: 8%;
  }
  .clients-box .container #local {
    width: 20vw;
    width: 100%;
    margin-top: 10%;
  }
  .container .mail {
    width: auto;
    margin-top: 8%;
  }
  .side-menu table th, td{
    font-size: 1.5em;
    cursor: pointer
  }
  .nav-bar .logo-col img {
    height: 30px;
    width: auto;
  }
  
}



@media (min-width: 631px) and (max-width: 799px) {
  .side-menu{
    width: 20%
  }
  .side-menu table{
    font-size: 80%;
  }
  .clients-box{
    height: 100%;
  }
  .ic{
    flex-direction: column;
    padding: 0;
    align-items: center;
    min-width: 20%;
  }
  .mail{
    height: 80%;
    word-break: break-all;
  }
  
}

@media (min-width: 800px) and (max-width: 1225px) {

  .side-menu {
    width: 15%;
  }
  .phone {
    margin-left: 8%;
    width: 10vw;
  }
  .side-menu table th, td{
    font-size: 100%;
    padding: 5%;
    cursor: pointer
  }
  .clients-box{
    height: 100%;
  }
  .ic{
    flex-direction: column;
    padding: 0;
    margin: 2% 0;
    align-items: center;
  }
  .container .mail {
    word-break: break-all;
  }
}

@media (min-width: 1800px){
  .nav-bar{
    height: 130px;
  }
  .nav-bar .logo-col img {
    height: auto;
    width: auto
  }
  .nav-bar .search-field {
    width: 110%;
    height: 40px;
  }
  .side-menu table th, td{
    font-size: 2em;
  }
  
  .nav-bar .logo-col img {
    height: 90px;
    width: auto;
  }
  
  .fa-search{
    font-size: 30px;
  }
  
  .fa-user-circle{
    font-size: 100px;
  }
  
  .name,
  .mail,
  .phone,
  .local,
  .ic{
    font-size: 150%
  }
}

@media (min-width: 2300px){
  .nav-bar{
    height: 180px;
  }
  .nav-bar .logo-col img {
    height: 130px;
    width: auto
  }
  .nav-bar .search-field {
    width: 110%;
    height: 60px;
  }
  .side-menu table th, td{
    font-size: 3em;
  }
  .item img {
    width: 100px;
    height: 90px;
  }
  
  .fa-search{
    font-size: 40px;
  }
  
  .fa-user-circle{
    font-size: 130px;
  }
  
  .name,
  .mail,
  .phone,
  .local,
  .ic{
    font-size: 230%
  }
}
/*//////////////////// media queries profile //////////////////// */

@media screen and (max-width: 600px) {
  .profile-card{
    min-width: 300px;
    margin: 0;
  }
  .background{
    width: 100%
  }
  .profile-card .profile-icons {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5em;
  }
  #btn{
    margin-bottom: 2%;
  }
  .profile-card h1{
    word-break: break-all;
    padding: 0 30px;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px)  {
  .background{
    padding: 1% 2%
  }
  .profile-card{
    margin: 0;
  }
  #btn{
    margin-bottom: 2%;
  }
}
